<li>
  {{burger_name}}

 
  <button class="change-eat" data-id="{{id}}" data-neweat="{{eaten}}">
    {{#if eaten}} EAT BURGER!{{else}}EAT UP!{{/if}} </button>
  
  <button class="delete-burger" data-id="{{this.id}}">DELETE</button>


</li>
